.narayam-input {
	/* FIXME: needed to add !important because WikiEditor overrides border for #wpTextbox1
	 * and SimpleSearch overrides background-color for the search box. Talk to Trevor
	 * about styling this nicely
	 */
	background-color: #EAF3F8 !important;
	border: 2px inset #FDBBBB !important;
}

.narayam-wrapper {
	padding: 0;
	margin: 0;
}
