#p-personal {
	/* #p-personal has overflow:hidden. That makes a dropdown menu appearing hidden.
	 * overriding it this way may not be the best way.
	 */
	overflow: visible!important;
}

div#narayam-menu li {
	background-color: #FFFFFF;
	font-size: 80%;
	font-weight:normal;
	border-right: solid 1px silver;
	border-left: solid 1px silver;
}
div#narayam-menu li a:hover{
	color:#0645AD;
}
li.narayam-help-link{
	border-bottom: solid 1px silver;
}
div#narayam-menu li:hover {
	background-color: #FFFFFF;
}
