{% extends "base.html" %}


{% block content %}
<h1>Job Status</h1>
	{% if jobs %}
		{% for job in jobs %}
		<ul>
			<li>Project: {{ job.project }}</li>
			<li>Language: {{ job.language }}</li>
			<li>Created: {{ job.created }}</li>
			<li>Finished: {{ job.finished }}</li>
			<li>In progress: {{ job.in_progress }}</li>
		</ul>
			{% for subtasks in job.tasks %}
			
			{% endfor %}
		{% endfor %}
		<h2>Please return in a couple of hours, the dataset will be finished by then.<h2>
	
	{% else %}
		<h2> There are currently no jobs in the queue.</h2>	
	{% endif %}

{% endblock %}