/* Unique green box to add new tags */
#codereview-add-tag {
	color: #00FF00;
	font-size: 1.2em;

	background-color: #EDFFED;
	padding: 0 0.5em;
	border: 1px solid #00FF00;
	cursor: pointer;
}

/* Red 'erase to the left' signs to remove a tag */
.codereview-remove-tag {
	color: #FF0000;
	font-size: 1.2em;
	cursor: crosshair;
}
