
{% extends "base.html" %}
{% block content %}

<h1>Log Mining Logs:</h1><br>
<u><h3>Campaign, Donations (>50) </h1></u><br>

<!-- Table listing all tests run -->

<table border="1" cellpadding="10">
<tr>
<th>Log Type</th>
<th>Time of Import</th>
<th>Log Start Time</th>
<th>Log End Time</th>
<th>Completion of Log</th>
<th>Total Rows Loaded</th>
</tr>

{% for row in squid_table %}
	<tr>
	<td>{{ row.0 }}</td> <!-- type -->
	<td>{{ row.1 }}</td> <!-- log_copy_time -->
	<td>{{ row.2 }}</td> <!-- start_time -->
	<td>{{ row.3 }}</td> <!-- end_time -->
	<td>{{ row.4 }}</td> <!-- log_completion_pct -->
	<td>{{ row.5 }}</td> <!-- total_rows -->
	</tr>
{% endfor %}

</table> 

<br><br><br>
<u>Go to:</u>
<br><br>
<a href="/LML/copy_logs_form">Copy Logs</a><br><br>
<a href="/LML/log_list">Log List</a><br><br>
<a href="/LML/mine_logs_form">Mine Logs</a><br><br>
<a href="/">Home</a>
<br>

{% endblock %}