/* Based on p-personal */
#p-moodbar {
	position: absolute;
	left: 10.75em;
	top: 0px;
}

#p-moodbar p {
	margin-top: 0.5em;
	margin-right: 0.75em;
	font-size: 0.75em;
	white-space: nowrap;
	line-height: 1.125em;
	text-transform: none;
	background: url(images/icon-speechbubble-blue.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}
