/* Overlay styling */
#mw-moodBar-overlay {
	position: absolute;
	top: 4em;
	left: 10.2em;
	min-width: 100px;
	min-height: 100px;
	background: #fafafa;
	border: 1px solid #0645ad;
	border-radius: 40px;
	padding: 22px 22px;
	box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
	display: none;
}

.mw-moodBar-overlayTitle {
	font-weight: bold;
	white-space: nowrap;
}

.mw-moodBar-overlayClose {
	float: right;
	font-size: 10px;
}

.mw-moodBar-types {
	overflow: hidden; /* clear */
	margin: 0 30px;
}

.mw-moodBar-type {
	float: left;
	min-width: 42px;
	margin: 15px;
	padding: 42px 0 5px 0;
	background: transparent url(images/type-unknown.png) center top no-repeat;
	text-align: center;
}

.mw-moodBar-typeTitle,
.mw-moodBar-overlayWhat {
	font-size: 12px;
}

.mw-moodBar-overlayWhatContent {
	display: none;
}

/**
 * Types
 */

/* Happy */
.mw-moodBar-types .mw-moodBar-type-happy {
	background-image: url(images/type-happy-normal.png);
}
.mw-moodBar-types-hover .mw-moodBar-type-happy {
	background-image: url(images/type-happy-hoverside.png);
}
.mw-moodBar-types-hover .mw-moodBar-type-happy:hover {
	background-image: url(images/type-happy-hovered.png);
}
.mw-moodBar-types-select .mw-moodBar-type-happy  {
	background-image: url(images/type-happy-dull.png);
}
.mw-moodBar-types-select .mw-moodBar-type-happy.mw-moodBar-selected {
	background-image: url(images/type-happy-selected.png);
}

/* Sad */
.mw-moodBar-types .mw-moodBar-type-sad {
	background-image: url(images/type-sad-normal.png);
}
.mw-moodBar-types-hover .mw-moodBar-type-sad {
	background-image: url(images/type-sad-hoverside.png);
}
.mw-moodBar-types-hover .mw-moodBar-type-sad:hover {
	background-image: url(images/type-sad-hovered.png);
}
.mw-moodBar-types-select .mw-moodBar-type-sad {
	background-image: url(images/type-sad-dull.png);
}
.mw-moodBar-types-select .mw-moodBar-type-sad.mw-moodBar-selected {
	background-image: url(images/type-sad-selected.png);
}

/* Confused */
.mw-moodBar-types .mw-moodBar-type-confused {
	background-image: url(images/type-confused-normal.png);
}
.mw-moodBar-types-hover .mw-moodBar-type-confused {
	background-image: url(images/type-confused-hoverside.png);
}
.mw-moodBar-types-hover .mw-moodBar-type-confused:hover {
	background-image: url(images/type-confused-hovered.png);
}
.mw-moodBar-types-select .mw-moodBar-type-confused {
	background-image: url(images/type-confused-dull.png);
}
.mw-moodBar-types-select .mw-moodBar-type-confused.mw-moodBar-selected {
	background-image: url(images/type-confused-selected.png);
}
