/**
 * CSS for the Contest MediaWiki extension.
 * @see https://www.mediawiki.org/wiki/Extension:Contest
 * 
 * @licence GNU GPL v3 or later
 * @author Jeroen De Dauw <jeroendedauw at gmail dot com>
 */


/* dialog type selection */
/*#mw-codechallenge-dialog*/ #contest-challenges-list {
	float: left;
	width: 250px;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list ul li,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a
{
	display: block;
	width: 250px;
	height: 66px;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	outline: none;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a:hover,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a:focus {
	text-decoration:none;
}

/* IGNORED BY IE6 */
/*#mw-codechallenge-dialog*/ #contest-challenges-list ul > li,
/*#mw-codechallenge-dialog*/ #contest-challenges-list ul li > a {
	display: inline-block;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-left-cap,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-right-cap {
	padding: 0;
	margin: 0;
	width: 6px;
	height: 66px;
	position: absolute;
	top: 0px;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-l-cap,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-r-cap,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-icon-box {
	background-repeat: no-repeat;
	height: 66px;
	position: absolute;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-l-cap,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-r-cap {
	width: 6px;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-l-cap {
	/* @noflip */
	left: 0px;
	/* @embed */
	background-image: url(images/icon-box-left-cap.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a:hover .mw-codechallenge-l-cap,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a:focus .mw-codechallenge-l-cap {
	/* @embed */
	background-image: url(images/icon-box-hover-left-cap.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a.selected .mw-codechallenge-l-cap {
	/* @embed */
	background-image: url(images/icon-box-selected-left-cap.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-r-cap {
	/* @noflip */
	right: 0px;
	/* @embed */
	background-image: url(images/icon-box-right-cap.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a:hover .mw-codechallenge-r-cap,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a:focus .mw-codechallenge-r-cap {
	/* @embed */
	background-image: url(images/icon-box-hover-right-cap.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a.selected .mw-codechallenge-r-cap {
	/* @embed */
	background-image: url(images/icon-box-selected-right-cap.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-inside {
	padding: 0;
	margin: 0;
	width: 238px;
	height: 66px;
	position: absolute;
	top: 0px;
	left: 6px;
	
	/* @embed */
	background-image: url(images/select-bg-sprite.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a:hover .mw-codechallenge-inside,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a:focus .mw-codechallenge-inside {
	background-position: 0px -66px;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a.selected .mw-codechallenge-inside {
	background-position: 0px -132px;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-icon-box {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	position: absolute;
	right: 0px;
	top: 5px;
	/* @embed */
	background-image: url(images/button_arrow.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-icon-box img {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	position: absolute:
	top: 0px;
	left: 0px;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a:hover .mw-codechallenge-icon-box,
/*#mw-codechallenge-dialog*/ #contest-challenges-list a:focus .mw-codechallenge-icon-box {
	/* @embed */
	background-image: url(images/button_arrow_hover.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a.selected .mw-codechallenge-icon-box {
	/* @embed */
	background-image: url(images/icon-box-selected.png);
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-link-text {
	padding: 0;
	margin: 0;
	width: 170px;
	height: 53px;
	position: absolute;
	left: 64px;
	top: 5px;
	line-height: 53px;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

/*#mw-codechallenge-dialog*/ #contest-challenges-list a .mw-codechallenge-no-icon .mw-codechallenge-link-text {
	left: 3px;
}

#mw-codechallenge-dialog a {
	color: #0645AD;
}