.mw-mah-wrapper {
	font-size: .8em;
	color: #7E7E7E;
}

.mw-mah-wrapper .mah-helpful-state {
	font-size: 1em;
	line-height: 1em;
}

.mw-mah-wrapper .mah-helpful-state .mah-helpful-icon {
	/* @embed */
	background: transparent url( images/mah-helpful-dull.png ) left top no-repeat;
	height: 16px;
	width: 16px;
	float:left;
}

.mw-mah-wrapper .mah-helpful-state .mah-helpful-icon:hover {
	/* @embed */
	background: transparent url( images/mah-helpful-hover.png ) left top no-repeat;
	height: 16px;
	width: 16px;
	float: left;
}

.mw-mah-wrapper .mah-helpful-state .mah-helpful-marked-icon {
	/* @embed */
	background: transparent url( images/mah-helpful-marked.png ) left top no-repeat;
	height: 16px;
	width: 16px;
	float: left;
}