/**
 * CSS for the Contest MediaWiki extension.
 * @see https://www.mediawiki.org/wiki/Extension:Contest
 * 
 * @licence GNU GPL v3 or later
 * @author Jeroen De Dauw <jeroendedauw at gmail dot com>
 */

/*.contestant-row td:hover {
	cursor: pointer;
}*/