/**
 * CSS for the Contest MediaWiki extension.
 * @see https://secure.wikimedia.org/wikipedia/mediawiki/wiki/Extension:Contest
 * 
 * @licence GNU GPL v3 or later
 * @author Jeroen De Dauw <jeroendedauw at gmail dot com>
 */

button.challenge-signup {
	position: absolute;
	right: 5px;
}

div.contest-challenge {
	position: relative;
}