/*
 * Styles for Article Feedback (beta)
 */

.articleFeedback {
	position: relative;
	display: inline-block;
	/* width: 39em; 1em extra space to resolve rounding errors*/
}

.articleFeedback-panel {
	/* height: 15em; */
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	padding-bottom: 1px;
}

.articleFeedback-dialog {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	/* height: 15em; */
	/* width: 38em; */
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	padding-bottom: 1px;
}

.articleFeedback-dialog .articleFeedback-buffer {
	padding: 0.75em 1em;
}

.articleFeedback-panel {
	float: left;
}

.articleFeedback-panel .articleFeedback-buffer {
	padding: 0.75em 1em;
	/* width: 28em; */
}

.articleFeedback-title {
	font-size: 1.4em;
}

.articleFeedback-switch {
	cursor: pointer;
	color: #0645AD;
	float: right;
	line-height: 1.4em;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 22px;
}

.articleFeedback-switch:hover {
	text-decoration: underline;
}

.articleFeedback-switch-form {
	/* @embed */
	background-image: url(images/form.png);
}

.articleFeedback-switch-report {
	/* @embed */
	background-image: url(images/report.png);
}

.articleFeedback-switch-form:hover {
	/* @embed */
	background-image: url(images/form-hover.png);
}

.articleFeedback-switch-report:hover {
	/* @embed */
	background-image: url(images/report-hover.png);
}

.articleFeedback-instructions, .articleFeedback-description {
	float: left;
	font-weight: bold;
	margin-bottom: 0.75em;
}

.articleFeedback-rating-fields {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.articleFeedback-rating-labels {
	margin-left: 10px;
}

.articleFeedback-rating-labels label, .articleFeedback-rating-clear {
	float: left;
	height: 21px;
	width: 21px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.articleFeedback-rating-labels label {
	/* @embed */
	background-image: url(images/star-empty.png);
}

.articleFeedback-rating-clear {
	/* @embed */
	background-image: url(images/trash.png);
	display: none;
}

.articleFeedback-rating-labels:hover .articleFeedback-rating-clear {
	/* @embed */
	background-image: url(images/trash-hover.png);
}

.articleFeedback-rating-labels label.articleFeedback-rating-label-full {
	/* @embed */
	background-image: url(images/star-full.png);
}

.articleFeedback-rating-new .articleFeedback-rating-labels label.articleFeedback-rating-label-full {
	/* @embed */
	background-image: url(images/star-new.png);
}

.articleFeedback-rating-new .articleFeedback-rating-labels label.articleFeedback-rating-label-hover {
	/* @embed */
	background-image: url(images/star-new-hover.png);
}

.articleFeedback-rating-new .articleFeedback-rating-labels label.articleFeedback-rating-label-down {
	/* @embed */
	background-image: url(images/star-new-down.png);
}

.articleFeedback-rating {
	display: inline-block;
	/* width: 50%; */
	/* margin-left: -1px; */
	width: 11em;
	height: 4em;
}

.articleFeedback-rating-meter {
	height: 21px;
	width: 107px;
	border: solid 1px #cccccc;
	margin-left: 10px;
	/* @embed */
	background-image: url(images/segment-empty.png);
	background-repeat: repeat-x;
	background-position: center left;
}

.articleFeedback-rating-meter div {
	height: 21px;
	width: 33%;
	border-right: solid 1px #a8d8f9;
	/* @embed */
	background-image: url(images/segment-full.png);
	background-repeat: repeat-x;
	background-position: center left;
}

.articleFeedback-label {
	cursor: pointer;
	padding-left: 20px;
	/* @embed */
	background-image: url(images/question.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.articleFeedback-label:hover {
	/* @embed */
	background-image: url(images/question-hover.png);
}

.articleFeedback-submit {
	float: right;
}
