/*
 * Styles for Article Feedback (beta)
 */

.articleFeedback {
	position: relative;
	display: inline-block;
	width: 39em; /* 1em extra space to resolve rounding errors*/
}

.articleFeedback-panel {
	height: 15em;
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
	border-left: none;
	padding-bottom: 1px;
}

.articleFeedback-dialog {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 15em;
	width: 38em;
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
	padding-bottom: 1px;
}

.articleFeedback-dialog .articleFeedback-buffer {
	padding: 0.75em 1em;
}

.articleFeedback-panel, .articleFeedback-tabs {
	float: left;
}

.articleFeedback-tabs {
	width: 8em;
	height: 15em;
	/* @embed */
	background-image: url(images/tab-break.png);
	background-position: right top;
	background-repeat: repeat-y;
	padding-bottom: 3px;
}

.articleFeedback-tab {
	display: block;
	text-align: center;
	width: 8em;
	height: 7.5em;
	cursor: pointer;
	background-color: #ffffff;
	/* @embed */
	background-image: url(images/tab-edge.png);
	background-position: right top;
	background-repeat: repeat-y;
}

.articleFeedback-tabs .articleFeedback-tab-current {
	/* @embed */
	background-image: url(images/tab-fade.png);
}

.articleFeedback-tab-form {
	margin-top: 1px;
	margin-bottom: 1px;
}

.articleFeedback-tab .articleFeedback-buffer {
	display: block;
	background-position: 50% 45%;
	background-repeat: no-repeat;
	padding-top: 6.25em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.8em;
	line-height: 1.25em;
	color: #0645ad;
}

.articleFeedback-tab-form .articleFeedback-buffer {
	/* @embed */
	background-image: url(images/form-icon.png);
}

.articleFeedback-tab-report .articleFeedback-buffer {
	/* @embed */
	background-image: url(images/report-icon.png);
}

.articleFeedback-tab:hover .articleFeedback-buffer {
	text-decoration: underline;
}

.articleFeedback-panel .articleFeedback-buffer {
	padding: 0.75em 1em;
	width: 28em;
}

.articleFeedback-title {
	font-size: 1.4em;
}

.articleFeedback-instructions, .articleFeedback-description {
	float: left;
	font-weight: bold;
	margin-bottom: 0.75em;
}

.articleFeedback-rating-fields {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.articleFeedback-rating-labels {
	padding-left: 1em;
}

.articleFeedback-rating-labels label, .articleFeedback-rating-clear {
	float: left;
	height: 2em;
	width: 2em;
	margin: 0;
	padding: 0;
	/* @embed */
	background-image: url(images/star-empty.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.articleFeedback-rating-clear {
	/* @embed */
	background-image: url(images/trash.png);
	display: none;
}

.articleFeedback-rating-labels:hover .articleFeedback-rating-clear {
	/* @embed */
	background-image: url(images/trash-hover.png);
}

.articleFeedback-rating-labels label.articleFeedback-rating-label-full {
	/* @embed */
	background-image: url(images/star-full.png);
}

.articleFeedback-rating-new .articleFeedback-rating-labels label.articleFeedback-rating-label-full {
	/* @embed */
	background-image: url(images/star-new.png);
}

.articleFeedback-rating-new .articleFeedback-rating-labels label.articleFeedback-rating-label-hover {
	/* @embed */
	background-image: url(images/star-new-hover.png);
}

.articleFeedback-rating-new .articleFeedback-rating-labels label.articleFeedback-rating-label-down {
	/* @embed */
	background-image: url(images/star-new-down.png);
}

.articleFeedback-rating {
	float: left;
	width: 50%;
	margin-left: -1px;
	height: 4em;
}

.articleFeedback-label {
	cursor: pointer;
	padding-left: 20px;
	/* @embed */
	background-image: url(images/question.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.articleFeedback-label:hover {
	/* @embed */
	background-image: url(images/question-hover.png);
}

.articleFeedback-submit {
	float: right;
}