#!/usr/bin/make -f

%:
	dh --with quilt $@

override_dh_strip:
	dh_strip --dbg-package=oggvideotools-dbg

# Put config.sub rules in until http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=559098 is fixed
override_dh_auto_configure:
	ln -sf /usr/share/misc/config.sub admin
	ln -sf /usr/share/misc/config.guess admin
	dh_auto_configure

override_dh_auto_clean:
	dh_auto_clean
	rm -f admin/config.sub admin/config.guess

