Source: npm
Section: web
Priority: extra
Maintainer: Gias Kay Lee <gsklee.of.planet.earth@gmail.com>
XSBC-Original-Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>, Capistrano deployment user <deploy@ip-10-212-94-201.ec2.internal>
Uploaders: Jérémy Lal <kapouer@melix.org>, Jonas Smedegaard <dr@jones.dk>
Build-Depends: cdbs (>= 0.4.62), debhelper (>= 7.0.1), dh-buildinfo, bash-completion, nodejs (>= 0.4.9)
Standards-Version: 3.9.2
Homepage: http://github.com/isaacs/npm
Vcs-Git: git://git.debian.org/collab-maint/npm.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/npm.git;a=summary

Package: npm
Architecture: all
Depends: nodejs (>= 0.4.9), nodejs-dev (>= 0.4.9), ${misc:Depends}
Description: Package manager for Node.js
 NPM is the package manager for the Node JavaScript platform. It puts
 modules in place so that Node can find them, and manages dependency
 conflicts intelligently.
 .
 It is extremely configurable to support a wide variety of use cases.
 Most commonly, it is used to publish, discover, install, and develop
 Node programs.
