.book-navigation{
	-moz-border-radius:4px; /* Firefox, etc */
	-khtml-border-radius:4px; /* Konqueror, etc */
	-webkit-border-radius:4px; /* Safari, Google Chrome, etc */
	-opera-border-radius:4px; /* Opera */
	border-radius:4px;
	padding:8px;
	border: 1px solid #a7d7f9;
	background-color:#eaf2f8;
	margin:5px auto;
	font-size:95%;
	display:table;
	clear:both;
}
.book-navigation li{
	list-style:none;
	display:inline;
	display:table-cell;
	}
.book-navigation .prev, .book-navigation .next{
	white-space:nowrap;
}
.book-navigation .index{
	padding:0 5em;
}
.book-navigation .prev a{
	background:url("images/18px-1leftarrow.png") no-repeat scroll left center transparent;
	padding:0 0 0 20px;
}
.book-navigation .index a{
	background:url("images/18px-1uparrow.png") no-repeat scroll left center transparent;
	padding:0 0 0 20px;
}
.book-navigation .next a{
	background:url("images/18px-1rightarrow.png") no-repeat scroll right center transparent;
	padding:0 20px 0 0;
}
