Source: ircecho
Section: net
Priority: extra
Maintainer: Ryan Lane <rlane@wikimedia.org>
Build-Depends: debhelper (>= 4)
Standards-Version: 1.0

Package: ircecho
Depends: python-pyinotify
Architecture: all
Description: IRC bot for echoing from stdin to IRC.
