<!DOCTYPE html>

<html> 

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}Fundraiser Reporting{% endblock %}</title>
<link rel="stylesheet" href="/static/css/style.css">
<!-- <script type="text/javascript" src="/static/jquery-1.2.6.min.js"></script> -->
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/media/js/jquery-1.4.1.js"></script>
<!-- <script language="javascript" type="text/javascript" src="/media/js/flot/jquery.js"></script> -->
<script language="javascript" type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>
</head>

<body>
<div class="container">
{% block content %}{% endblock %}
</div>
</body>

</html>
