
<html>
<head><title>Big Ass Reportin'</title></head>
<body>

<h1>Enter a Campaign:</h1>


<form action="/tests/build_test" method="post">
{% csrf_token %}
<label for="utm_campaign"> 
<pre>UTM CAMPAIGN:		</pre>
</label>
<input type="text" name="utm_campaign" />
<br/>
<label for="start_time"> 
<pre>START TIMESTAMP:	</pre>		
</label>
 <input type="text" name="start_time" />
<br/>
<label for="end_time">
<pre>END TIMESTAMP:		</pre>
</label>
<input type="text" name="end_time" />
<br/>

<input type="submit" value="Test" />
</form>

</body>
</html>
