Source: wikimedia-fonts
Section: fonts
Priority: optional
Maintainer: River Tarnell <river@wikimedia.org>
Build-Depends: debhelper, defoma
Standards-Version: 3.6.2

Package: wikimedia-fonts
Architecture: all
Depends: fontconfig
Description: Provides additional fonts for Wikimedia
 This package provides some fonts Wikimedia uses for SVG, which are not in
 Ubuntu:
 .
    Adobe Utopia
