# the auth system turns our login and key into an account / token pair.
# the account remains valid forever, but the token times out.
account = 'AUTH_...'

# the name of the scaler cluster.
thumbhost = 'localhost'

# upload doesn't like our User-agent (Python-urllib/2.6), otherwise we could call it using urllib2.urlopen()
user_agent = 'Swift thumbnail proxy'

