/* Filters */

#fbd-filters {
	position: absolute;
	width: 12em;
}

#fbd-filters form {
	margin: 0;
	padding: 1em;
	background-color: #e8f2f8;
}

#fbd-about {
	display: inline-block;
	font-size: 0.8em;
	margin-top: 0.5em;
}

#fbd-filters-title {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px black;
}

#fbd-filters-types {
	margin: 0.5em 0 0 0;
	padding: 0;
	border: none;
}

.fbd-filters-label {
	display: block;
	margin: 0.5em 0 0 0;
	padding: 0;
	font-weight: bold;
}

.fbd-filters-input {
	margin: 0.25em 0 0.25em 0.75em;
	width: 9em;
}

#fbd-filters-types ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#fbd-filters-types li {
	margin: 0 0 0 0.75em;
	padding: 0;
	list-style: none;
}

#fbd-filters-types label {
	padding-left: 18px;
	background-position: left 45%;
	background-repeat: no-repeat;
}

#fbd-filters-type-praise-label {
	/* @embed */
	background-image: url(images/filter-praise.png);
}

#fbd-filters-type-confusion-label {
	/* @embed */
	background-image: url(images/filter-confusion.png);
}

#fbd-filters-type-issues-label {
	/* @embed */
	background-image: url(images/filter-issues.png);
}

#fbd-filters-set {
	margin: 1em 0 0 0;
}

/* List */

#fbd-list {
	margin: 0 0 0 13em;
	padding: 0;
	min-height: 20em;
	list-style: none;
}

.client-nojs #fbd-list-more {
	display: none;
}

.client-js #fbd-list-newer-older {
	display: none;
}

#fbd-list-more, #fbd-list-newer-older {
	margin: 1em 0 0 13em;
	padding: 0.5em;
	background-color: #e8f2f8;
}

#fbd-list-more a, #fbd-list-more span,
#fbd-list-newer a, #fbd-list-older a,
#fbd-list-newer .fbd-page-disabled, #fbd-list-older .fbd-page-disabled {
	font-size: 1.4em;
	background-repeat: no-repeat;
}

#fbd-list-more {
	text-align: center;
}

#fbd-list-more a {
	/* @embed */
	background-image: url(images/page-more.png);
	background-position: left center;
	padding-left: 20px;
}

#fbd-list-newer {
	float: left;
}

#fbd-list-newer a, #fbd-list-newer .fbd-page-disabled {
	background-position: left center;
	padding-left: 20px;
}

#fbd-list-more.mw-ajax-loader {
	/* Undo the repositioning done in shared.css. Padding is set to 0.5em above. */
	position: static;
}

/* The images here are named -ltr instead of -left and -rtl instead of -right
 * because ResourceLoader flips -ltr and -rtl in URLs, but not -left and -right
 */
#fbd-list-newer a {
	/* @embed */
	background-image: url(images/page-active-ltr.png);
}

#fbd-list-newer .fbd-page-disabled {
	/* @embed */
	background-image: url(images/page-disabled-ltr.png);
}

#fbd-list-older {
	float: right;
}

#fbd-list-older a, #fbd-list-older .fbd-page-disabled {
	background-position: right center;
	padding-right: 20px;
}

#fbd-list-older a {
	/* @embed */
	background-image: url(images/page-active-rtl.png);
}

#fbd-list-older .fbd-page-disabled {
	/* @embed */
	background-image: url(images/page-disabled-rtl.png);
}

.fbd-page-disabled {
	color: #c6c6c6;
}

.fbd-item {
	border-bottom: solid 1px silver;
	position: relative;
}

.fbd-item-emoticon {
	float: left;
	margin-right: 0.5em;
	width: 75px;
	height: 90px;
	background-position: center top;
	background-repeat: no-repeat;
}

.fbd-item-emoticon-label {
	display: block;
	margin-top: 60px;
	text-align: center;
}

.fbd-item-emoticon-happy {
	/* @embed */
	background-image: url(images/emoticon-happy.png);
}
.fbd-item-emoticon-confused {
	/* @embed */
	background-image: url(images/emoticon-confused.png);
}
.fbd-item-emoticon-sad {
	/* @embed */
	background-image: url(images/emoticon-sad.png);
}

.fbd-item-userName {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

.fbd-item-userLinks {
	font-size: 0.5em;
}

.fbd-item-time {
	font-size: 1.2em;
	float: right;
}

.fbd-item-message {
	font-size: 1.4em;
	margin-top: 0.25em;
}

.fbd-item-permalink,
.fbd-item-show,
.fbd-item-hide {
	float: right;
	font-size: 0.8em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.fbd-item-restore {
	font-size: 0.8em;
	color: silver;
}

.fbd-hidden {
	color: silver;
}
